/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *
 *= require_self
 *= require foundation_and_overrides.scss
 */

 @import 'foundation-icons';

.bigger-icon {
	font-size: 15px;
	color: white;
}

.style5 {
  font-size: 30px;
  color: rgba(245,159,26,0.8);
  text-shadow: 1px 4px 6px #FFF,0 0 0 #000,1px 4px 6px #FFF;
}

.style2 {
    font-size: 70px;
    color: #2DAEBF;
    text-shadow: 0px 1px 0px #0092b3,0px 2px 0px #0087a6,0px 3px 0px #008099,0px 4px 0px #00758c,0px 5px 0px #555,0px 6px 0px #006a80,0px 0px 0px #006073,0px 8px 7px #005566;
}
